src/main/mule/common/selectInPutParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="selectInPutParamsFlow" doc:id="140c1a70-66d6-4f35-afb3-6ff27095f787" >
		<try doc:name="Try" doc:id="a13212bf-b1b7-46d2-bb06-007f3ff00d0a" >
			<db:select doc:name="Select" doc:id="4ee59f15-5830-4b23-bf89-134a66ede48d" config-ref="Database_Config">
				<db:sql ><![CDATA[select pk, custAccNum, bankName, accountStatus, totalBalance, atmPin, wrongPin, mailId from Bank_Transactions where custAccNum = :accountNum and bankName = :bank;]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	accountNum: payload.accountNum,
	bank: attributes.queryParams.bank
}]]]></db:input-parameters>
			</db:select>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ffdde480-e844-41c2-b13e-a9cdfb373023" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="b7450d6a-7b2d-4fc7-9102-e1a146187abe">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="3c8c4aa0-17d2-46d1-be2d-7df74a160d2e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="selInpVar" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
